h1 {
    font-style: normal;
    font-family: "arial";
}

#sensor_value {
    text-align: left;
}

#local_IP {
    text-align: center;
}

#warning {
    text-align: center;
}

#sensor_name {
    text-align: center;

}

.kolom {
    float: left;
    width: 33.33333%;
    height: 100px;


}