h1 {
    font-style: normal;
    font-family: "arial";
    text-align: center;
}

.qr-image {
  margin-left: 25%;
}


.kolom {
    float: left;
    width: 33.33333%;
    height: 100px;
}

.water {
  width:100%;
  position: absolute;
  top: 100%;
  height: 0px;
  background: darkBlue;
  z-index: -1;
  left:0;
}
